.employee-dashboard {
  display: flex;
  position: relative;
  min-width: 1240px;
  min-height: 768px;
  margin: 0%;

  background: url(background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.employee-dashboard-heading {
  position: absolute;
  width: 382px;
  height: 78px;
  left: 100px;
  top: 39px;

  /* Header 1 */
  font-family: "Lato", "Helvetica Neue";
  font-style: normal;
  font-weight: 900;
  letter-spacing: 5px;
  white-space: nowrap;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #f0eaea;
}

.employee-dashboard .pointofsale-title {
  position: absolute;
  width: 122px;
  height: 23px;
  left: 100px;
  top: 198px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  color: #faf8f8;
}

.employee-dashboard .make-a-sale {
  position: absolute;
  width: 156px;
  height: 129px;
  left: 192px;
  top: 370px;
  background: rgba(211, 205, 205, 0.8);
}

.employee-dashboard .sales-history {
  position: absolute;
  width: 156px;
  height: 129px;
  right: 220px;
  top: 370px;
  background: rgba(196, 196, 196, 0.8);
}

.employee-dashboard .make-sale-telephone {
  position: absolute;
  left: 34%;
  right: 41%;
  top: 28.68%;
  bottom: 29.46%;
}

.employee-dashboard .sales-history-svg {
  position: absolute;
  left: 34%;
  right: 41%;
  top: 28.68%;
  bottom: 29.46%;
}

.employee-dashboard .button {
  /* Rectangle 7 */
  font-weight: 700;
  position: absolute;
  font-style: normal;
  width: 100px;
  height: 50px;
  font-size: 16px;
  left: 1131px;
  top: 39px;
  color: rgb(245, 247, 248);
  background: rgba(196, 196, 196, 0.1);
  border-radius: 15px;
  border: none;
}

.make-a-sale-text {
  color: #f0eaea;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 10px;
}

.sales-history-text {
  color: #f0eaea;
  font-weight: 700;
  margin-top: 100px;
  margin-left: 10px;
}

.total-transactions {
  position: absolute;
  width: 38px;
  height: 22px;
  right: 14px;
  top: 9px;
  background: rgba(205, 198, 240, 0.69);
  border-radius: 3px;
  color: #bdb8b8e0;
}